.App {
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  display: flex;
}

button {
  width: 10vh;
  height: 3vh;
}

.checkbox {
  margin-right: 0%;
}

.d {
  display: flex;
  flex-direction: row;
  border: 1px solid indigo;
  border-radius: 15%;
  border-color: white;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 20%;
}

.q {
  padding-right: 5vh;
}


